.example-form-field {
    width: 200px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    margin: 0; 
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  } 

  mat-divider {
    margin-top: 10px; 
  }

  