<!-- Hero Banner-->
<section class="hero-home bg-cover bg-center" [ngStyle]="{ 'background': 'url(assets/img/fondo_oficial.jpg) center ' + (scrollOffset / 2) + 'px', 'background-size': 'cover' }">
    <div class="container index-forward py-5 mb-5 overlay" >
      <div class="row text-white">
        <div class="col-lg-12" >
          <h1 class="text-uppercase mb-0 text-shadow">TALLER DE SIMULACION DE SISTEMAS</h1>
          <div style="margin: 50px;"></div>
          <p>
            Desarrollar competencias en simulación de sistemas para analizar y optimizar el rendimiento en entornos complejos, preparando estudiantes para diversos campos profesionales.
          </p>
        </div>
      </div>
    </div>
</section>
  
  
  <!-- Info Section-->
  <section class="info p-0 bg-light">
    <div style="margin: -25px;"></div>
    <div class="container bg-white">
        <div class="row py-5 border-top border-md border-primary">
            <div class="col-lg-6 border-right mb-6 mb-lg-0 d-flex align-items-center">
                <div class="px-4 text-center">
                    <h2 class="text-uppercase lined lined-center nombre_apellido">Lic. Henrry Frank <span class="nombre_apellido2">Villarroel Tapia</span></h2>
                    <p class="text-muted mb-0 text-small">
                        Docente de Taller de simulacion de sistemas
                    </p>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="col-xl-6 col-md-6 mb-6 mb-xl-0">
                    <div class="card services-item border-0">
                        <div class="card-body border-top border-md border-primary py-4 px-3 shadow-sm">
                            <mat-card class="example-card" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                                <div style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px; margin: 10px;">
                                    <img mat-card-image src="assets/team/hen.jpg" alt="Photo of a Shiba Inu" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: -25px;"></div>
  </section>
 
  <!--Section Integrantes-->
  <section class="services">
    <div style="margin: -20px;"></div>
    <div class="row py-5 border-top border-md border-primary"></div>
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center">NUESTROS  <span class="text">INTEGRANTES</span></h2>
      <p class="text-muted mb-5">
        "Nos definimos como un equipo de estudiantes apasionados, cada uno con un enfoque único en diversos campos de estudio. Nos unimos con entusiasmo para llevar a cabo el proyecto del curso 'Taller de Simulación de Sistemas'. Este desafío no solo nos permite aplicar nuestros conocimientos, sino que también nos impulsa a colaborar, crecer y explorar nuevas oportunidades en este viaje estudiantil. Estamos emocionados por el impacto que podemos lograr juntos."
        </p>
        <div class="row">
            <!-- Valor AF-->
            <div class="col-xl-4 col-md-4 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-4 px-3 shadow-sm">
                        <mat-card class="example-card" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                            <mat-card-header>
                              <mat-card-title>
                                <h2 class="text-uppercase lined lined-center nombre_apellido">Est. jose israel <span class="nombre_apellido2">Samca montaño</span></h2>
                              </mat-card-title>
                            </mat-card-header>
                            <div style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px; margin: 10px;">
                              <img mat-card-image src="assets/team/jos.jfif" alt="Photo of a Shiba Inu" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <!-- Valor AC-->
            <div class="col-xl-4 col-md-4 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-4 px-3 shadow-sm">
                        <mat-card class="example-card" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                            <mat-card-header>
                              <mat-card-title>
                                <h2 class="text-uppercase lined lined-center nombre_apellido">Est. karen lizbeth <span class="nombre_apellido2">torrico conde</span></h2>
                              </mat-card-title>
                            </mat-card-header>
                            <div style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px; margin: 10px;">
                              <img mat-card-image src="assets/team/kar.jpg" alt="Photo of a Shiba Inu" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <!-- Valor FAI-->
            <div class="col-xl-4 col-md-4 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-4 px-3 shadow-sm">
                        <mat-card class="example-card" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                            <mat-card-header>
                              <mat-card-title>
                                <h2 class="text-uppercase lined lined-center nombre_apellido">Est. alejandro <span class="nombre_apellido2">montaño cayola</span></h2>
                              </mat-card-title>
                            </mat-card-header>
                            <div style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px; margin: 10px;">
                              <img mat-card-image src="assets/team/ale.jfif" alt="Photo of a Shiba Inu" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin: 15px;"></div>
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-4 col-md-4 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-4 px-3 shadow-sm">
                        <mat-card class="example-card" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                            <mat-card-header>
                                <mat-card-title>
                                    <h2 class="text-uppercase lined lined-center nombre_apellido">Est. ezequiel <span class="nombre_apellido2">gerstel bodoha</span></h2>
                                </mat-card-title>
                            </mat-card-header>
                            <div style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px; margin: 10px; margin: 0 auto;">
                                <img mat-card-image src="assets/team/eze.jfif" alt="Photo of a Shiba Inu" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-4 px-4 shadow-sm">
                        <mat-card class="example-card" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                            <mat-card-header>
                                <mat-card-title>
                                    <h2 class="text-uppercase lined lined-center  nombre_apellido">Est. carmen belen <span class="nombre_apellido2">gonzalez galvez</span></h2>
                                </mat-card-title>
                            </mat-card-header>
                            <div style="border-radius: 50%; overflow: hidden; width: 200px; height: 200px; margin: 10px; margin: 0 auto;">
                                <img mat-card-image src="assets/team/bel.jpg" alt="Photo of a Shiba Inu" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <div style="margin: 15px;"></div>
  <!-- Contact Section-->
  <section class="contact py-4  text-white">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="text-white text-center">
            <p>TALLER DE SIMULACIÓN DE SISTEMAS - UNIVERSIDAD MAYOR DE SAN SIMON</p>
        </div>
    </div>
  </section>
   <!-- Estimaciones Section-->
   